<h1> New Blog Post: </h1>

<!-- creates a form using erb to be used by resources :blog_posts -->
<!-- the use of :objects in the context of the f.label etc refers to the name
we are giving the fields and titles -->
<!-- url: blog_posts_path pushes the form_input to the index and create actions so we
can display a newly created post -->
<%= form_for :blog_post, url: blog_posts_path do |f| %>
  <p>
    <!-- label and text input for blog post title -->
    <%= f.label :title %> <br>
    <%= f.text_field :title %>
  </p>

  <p>
    <!-- label and text input for blog post content  -->
    <%= f.label :content %> <br>
    <%= f.text_field :content %>
  </p>

  <p>
    <!-- submit button -->
    <%= f.submit :Submit %>
  </p>
<% end %>
